<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <title>Registration Details</title>
  <style>
  #title {
      text-align: center;
      background-color: #313d83;
      color: #FFF;
    }
    th,td{
      text-align: center;
    }
  </style>
  <script>
   alert("Registration successfull!")
  </script>
</head>

<body>
  <h1 id="title">Registraton Details</h1>
  <div class="container">
    <table class=" table table-info student-info">
    <tbody>
      <tr>
        <td><span class="field">Name: </span></td>
        <td>{{student_details['Name']}}</td>
      </tr>
      <tr>
        <td><span class="field">Register Number: </span></td>
        <td>{{student_details['RegisterNumber']}}</td>
      </tr>
      <tr>
        <td><span class="field">Branch: </span></td>
        <td>{{student_details['Branch']}}</td>
      </tr>
      <tr>
        <td><span class="field">Semester: </span></td>
        <td>{{student_details['Semester']}}</td>
      </tr>
      <tr>
        <td><span class="field">Section Alloted: </span></td>
        <td>{{registration_details['AllottedSection']}}</td>
      </tr>
    </tbody>
    </table>
    <a class="btn btn-primary" style="text-align: center;" href="/login">Register for another student</a>
  </div>
  
  
</body>

</html>